<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {{ .Env.CSS }}
  <title>imagecanvas</title>
</head>
<body>
  <img width="400" height="400" src="/static/templates/imagecanvas/face.jpg" data-img-fallback="/static/templates/imagecanvas/face.jpg">
  <input type="range" id="resize" min="0" max="100" step="1" value="0">
  <input type="range" id="vresize" min="0" max="100" step="1" value="0" class="vranger">
  <label for="lockaspect">Lock aspect ratio</label>
  <input type="checkbox" id="lockaspect">
  <input type="file" id="imgpicker" accept="image/png, image/jpeg">
  {{ .Env.JS }}
</body>
</html>
