<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ .Env.CSS }}
  <title>imagecanvas</title>
</head>
<body>
  <img width="400" height="400" src="/static/templates/imagecanvas/face.jpg" data-img-fallback="/static/templates/imagecanvas/face.jpg">
  <!-- <div class="overlay&#45;wrapper"> -->
  <!--   <img width="400" height="400" src="/static/templates/imagecanvas/face.jpg" data&#45;img&#45;fallback="/static/templates/imagecanvas/face.jpg"> -->
  <!--   <div class="overlay textshadow"> -->
  <!--     <div> -->
  <!--       <input type="checkbox"> -->
  <!--       <label class="">lock aspect ratio</label> -->
  <!--     </div> -->
  <!--     <div class="flex items&#45;center justify&#45;between"> -->
  <!--       <span class="">width</span> -->
  <!--       <input type="range"> -->
  <!--     </div> -->
  <!--     <div class="flex items&#45;center justify&#45;between"> -->
  <!--       <span class="mr2">height</span> -->
  <!--       <input type="range"> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  {{ .Env.JS }}
</body>
</html>
