<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ .Env.CSS }}
  {{ .Env.ContentSecurityPolicy }}
  <title>Post Index</title>
</head>
<body>
  <nav class="absolute w-100">
    <ul class="flex flex-wrap justify-end list pa0">
      {{ if .Env.EditMode }}
      <li><button class="mh2 pointer">add item</button></li>
      {{ end }}
      {{ range $i, $row := getRows .Env "nav" }}
      <li class="nav-link"><a data-key-href="nav[].link" href="{{ $row.link }}" data-key="nav[].title">{{ $row.title }}</a></li>
      {{ else }}
      <li class="nav-link"><a data-key-href="nav[].link" href="/" data-key="nav[].title">Home</a></li>
      <li class="nav-link"><a data-key-href="nav[].link" href="/about-me" data-key="nav[].title">About Me</a></li>
      <li class="nav-link"><a data-key-href="nav[].link" href="/contact" data-key="nav[].title">Contact</a></li>
      {{ end }}
    </ul>
  </nav>
  <header class="hero-banner flex justify-center items-center">
    <div class="tc white">
      {{ $title := getValueWithID .Env "title" "bokwoon95/plainsimple:globals" }}
      <h1 class="f1 text-border" data-id="bokwoon95/plainsimple:globals" data-key="title">
        {{ if ne nil $title }}{{ $title | safeHTML }}{{ else }}My Blog{{ end }}
      </h1>
      {{ $subtitle := getValueWithID .Env "subtitle" "bokwoon95/plainsimple:globals" }}
      <h2 class="f3 text-border tl" data-id="bokwoon95/plainsimple:globals" data-key="subtitle">
        {{ if ne nil $subtitle }}{{ $subtitle | safeHTML }}{{ else }}Where I write about <em>stuff</em>{{ end }}
      </h2>
    </div>
  </header>
  <main class="posts-list pt4-l pb2-l ph7-l">
    {{ range $i, $post := getRows .Env "posts" }}
    <article>
      <div class="f6 mt2 gray" data-key="posts[].date">{{ $post.date | safeHTML }}</div>
      <div class="f3 fw7 lh-title" data-key="posts[].title">{{ $post.title | safeHTML }}</div>
      <summary class="mt3" data-key="posts[].summary">{{ $post.summary | safeHTML }}</summary>
      <div class="mt2 mb4"><a href="{{ $post.link }}" data-key="posts[].link">read more</a></div>
      <hr>
    </article>
    {{ else }}
    <article>
      <div class="f6 mt2 gray" data-key="posts[].date">2020 June 18</div>
      <div class="f3 fw7 lh-title" data-key="posts[].title"><a href="">HASH: a free, online platform for modeling the world</a></div>
      <summary class="mt3" data-key="posts[].summary">Sometimes simulating complex systems is the best way to understand them.</summary>
      <div class="mt2 mb4"><a href="" data-key="posts[].link">read more</a></div>
      <hr>
    </article>
    <article>
      <div class="f6 mt2 gray" data-key="posts[].date">2019 December 05</div>
      <div class="f3 fw7 lh-title" data-key="posts[].title"><a href="">So, how’s that retirement thing going, anyway?</a></div>
      <summary class="mt3" data-key="posts[].summary">For the last couple of months, Prashanth Chandrasekar has been getting settled in as the new CEO of Stack Overflow. I’m still going on some customer calls…</summary>
      <div class="mt2 mb4"><a href="" data-key="posts[].link">read more</a></div>
      <hr>
    </article>
    <article>
      <div class="f6 mt2 gray" data-key="posts[].date">2019 September 24</div>
      <div class="f3 fw7 lh-title" data-key="posts[].title"><a href="">Welcome, Prashanth!</a></div>
      <summary class="mt3" data-key="posts[].summary">Last March, I shared that we were starting to look for a new CEO for Stack Overflow. We were looking for that rare combination of someone who…</summary>
      <div class="mt2 mb4"><a href="" data-key="posts[].link">read more</a></div>
      <hr>
    </article>
    <article>
      <div class="f6 mt2 gray" data-key="posts[].date">2019 March 28</div>
      <div class="f3 fw7 lh-title" data-key="posts[].title"><a href=''>The next CEO of Stack Overflow</a></div>
      <summary class="mt3" data-key="posts[].summary">We’re looking for a new CEO for Stack Overflow. I’m stepping out of the day-to-day and up to the role of Chairman of the Board.</summary>
      <div class="mt2 mb4"><a href="" data-key="posts[].link">read more</a></div>
      <hr>
    </article>
    {{ end }}
  </main>
  <footer class="flex justify-center mt5 pb3">
    {{ $author := getValueWithID .Env "author" "bokwoon95/plainsimple:globals" }}
    <div>Copyright © 2020
      <span data-id="bokwoon95/plainsimple:globals" data-key="author">
        {{ if ne nil $author }}{{ $author | safeHTML }}{{ else }}Robert Table{{ end }}
      </span>
      . All rights reserved.
    </div>
  </footer>
  {{ .Env.JS }}
</body>
</html>
